body {
  height: 100vh;
  margin: 0px;
  overflow-x: hidden !important;
}
#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 9999;
  transition: opacity 0.5s ease-in-out;
}

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  background: radial-gradient(circle closest-side, #000 94%, #0000)
    right/calc(200% - 1em) 100%;
  animation: l24 1s infinite alternate linear;
}
.loader::before {
  content: "Loading...";
  line-height: 1em;
  color: #0000;
  background: inherit;
  background-image: radial-gradient(circle closest-side, #fff 94%, #000);
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes l24 {
  100% {
    background-position: left;
  }
}
body:focus-visible {
  outline: none !important;
}
* {
  font-family: "New Gothic Style", sans-serif;
  box-sizing: border-box;
}
.ant-typography {
  font-family: "New Gothic Style", sans-serif !important;
}
.text-justify {
  text-align: justify !important;
}
.text-left {
  text-align: left !important;
}

.flex-between {
  display: flex;
  width: 98%;
  justify-content: space-between;
  align-items: center;
}
.text-white {
  color: white !important;
}
.pt-98 {
  padding-top: 98px;
}
.pb-98 {
  padding-bottom: 98px;
}
.text-gray {
  color: #838383 !important;
}
.text-black {
  color: #000 !important;
}
.text-upper {
  text-transform: uppercase;
}
.text-lower {
  text-transform: lowercase;
}
.text-capitalize {
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}
.pt-90 {
  padding-top: 90px;
}
.pb-90 {
  padding-bottom: 190px;
}

.f-18 {
  font-size: 16px;
}
.f-10 {
  font-size: 10px !important;
}
.f-50 {
  font-size: 50px !important;
}
.f-24 {
  font-size: 24px !important;
}
.f-20 {
  font-size: 20px !important;
}
.f-16 {
  font-size: 16px !important;
}
.f-14 {
  font-size: 14px !important;
}
.f-40 {
  font-size: 40px !important;
}
.f-64 {
  font-size: 64px !important;
}
.f-bold {
  font-weight: bold;
}
.f-100 {
  font-weight: 100 !important;
}
.f-200 {
  font-weight: 200 !important;
}
.f-32 {
  font-size: 32px;
}
.mt-150 {
  margin-top: 150px;
}
.pb-10 {
  padding-bottom: 40px;
}
.mt-16 {
  margin-top: 16px;
}
.my-124 {
  margin-top: 124px;
  margin-bottom: 124px;
}

.p-absoulte {
  position: absolute;
}
.right-0 {
  right: 0;
}
.w-100 {
  width: 100%;
}
.p-b-30-left-0 {
  bottom: 30px;
  left: 0;
}
.bottom-20 {
  bottom: 20px;
}
.left-20 {
  left: 20px;
}
.d-flex-story {
  display: flex;
  padding-left: 20px;
}

.d-flex-story-center {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}
.hero-bg-img {
  background-image: url("./assets/background-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 750px;
  position: relative;
}
.hero-bg-img-shadow {
  background: rgba(0, 0, 0, 0.1);
  height: 100%;
  position: relative;
}

#navbar_main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 20px;
  z-index: 99;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

#navbar_main.sticky {
  padding: 10px 20px;
  background-color: #000;
}

#navbar_main a {
  color: #fff;
  font-size: 14px;
  padding: 4px 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.text-paragraph {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  line-height: 21.6px;
}
#navbar_main a:not(:last-child) {
  border-right: 1px solid #fff;
}
#story-rank :not(:last-child) {
  border-left: 3px solid #fff;
}
.title-home-page {
  color: #fff !important;
  font-weight: 100 !important;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0.9rem !important;
}
.bg-img-logo {
  background-image: url("./assets/bg2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position: sticky;
}
.circle-bg-white {
  background: rgb(255, 255, 255);
  width: 40px;
  border-radius: 30px;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 10px;
}
.prop-info {
  background: black;
  height: inherit;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-bg-white:hover {
  background: transparent;
  border: 1px solid white;
  width: 40px;
  border-radius: 30px;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: background 0.5s;
}
.fill-change {
  fill: #1c1c1c;
}
.circle-bg-white:hover .fill-change {
  fill: white !important;
}

.circles-container {
  position: fixed;
  right: 20px; /* Adjust the value based on your design */
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  mix-blend-mode: difference;
}

.line-between::before {
  content: "";
  position: absolute;
  width: 2px; /* Adjust the width of the line */
  height: 40%;
  background-color: #fff; /* Adjust the color of the line */
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.slick-slider {
  width: 100%;
}
.hamburger-icon {
  cursor: pointer;
  transition: transform 0.3s ease-in-out; /* Add transition effect */
}

.hamburger-icon:hover {
  transform: scale(0.7); /* Add hover animation */
}
.nav-ho:hover {
  border-bottom: 1px solid #fff;
}

.our-story-bg {
  background-color: black;
  max-width: 600px;
  margin-right: -200px;
  z-index: 1;
  padding: 30px;
}
.mt-32 {
  margin-top: 32px !important ;
}

.our-story-title {
  color: white !important;
  line-height: 39px;
  letter-spacing: 1px;
}
.our-story-text {
  color: #d4cfc9;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 23.5px;
  margin-top: 20px;
  text-align: left;
}

.contact-us-btn {
  background-color: white;
  border-radius: 0px;
  text-transform: uppercase;
}

.contact-us-btn:hover {
  background-color: transparent !important;
  border-radius: 0px;
  text-transform: uppercase;
  color: white !important;
  border: 1.5px solid white !important;
  transition: background-color 0.5 ease-in-out;
}
.meet-slider-width {
  display: flex;
  width: 100%;
}
.displayy-teamimg-center {
  position: relative;
}
.slick-prev:before {
  content: "" !important;
}
.slick-next:before {
  content: "" !important;
}

.meet-team-heading {
  color: white !important;
  text-align: center;
  text-transform: uppercase;
}

.let-talk {
  background-image: url("./assets/lettalk.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 550px;
  position: relative;
}

.hero-bg-img-shadow-talk {
  background: rgba(0, 0, 0, 0.6);
  height: 550px;
  position: relative;
}

.boxshadow-section {
  box-shadow: 0px 0px 15px 0px #00000050;
}

.features_section_slider .slick-track {
  display: flex;
  gap: 5rem;
}

.team-section .slick-track {
  display: flex;
  gap: 2rem;
}

.negborihood-list .slick-track {
  display: flex;
  gap: 1rem;
  min-width: 9128px;
}
.img-op {
  -webkit-filter: grayscale(1);
  filter: gray;
  -webkit-transition: all 0.8s ease-in;
  aspect-ratio: 5/4;
  object-fit: cover;
}

.img-op:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
  cursor: pointer;
}

.img-op:focus-visible {
  outline: none !important;
}
.displayy-teamimg-center:hover .img-op {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1);
  cursor: pointer;
}

.button-view {
  background-color: #000; /* Green */
  border: none;
  color: white;
  padding: 15px 52px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 14px;
  letter-spacing: 1.5px;
  cursor: pointer;
}
.button-view1 {
  position: relative; /* Adding relative positioning for absolute positioning of pseudo-element */
  background-color: #000; /* Green */
  border: none;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 15px 52px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 14px;
  letter-spacing: 1.5px;
  cursor: pointer;
  width: 250px;
  height: 75px;
}
.button-neighborhood {
  position: relative; /* Adding relative positioning for absolute positioning of pseudo-element */
  background-color: #000; /* Green */
  border: none;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 15px 52px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 14px;
  letter-spacing: 1.5px;
  cursor: pointer;
  width: 364px;
  height: 58px;
}
.button-neighborhood::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -65px; /* Adjusted left position */
  width: 122px; /* Adjusted width to fill the container */
  height: 1px !important;
  transform: scaleY(1.1);
  background: gray;
  pointer-events: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.button-view1:hover {
  border: 1px solid black;
  background-color: transparent !important;
  transition: background-color 1s ease; /* added 's' after 0.8 for seconds */
  color: black;
}
.button-secondary {
  position: relative; /* Adding relative positioning for absolute positioning of pseudo-element */
  background-color: white; /* Green */
  border: none;
  color: black;
  padding: 15px 52px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 14px;
  letter-spacing: 1.5px;
  cursor: pointer;
  width: 250px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-secondary:hover {
  position: relative; /* Adding relative positioning for absolute positioning of pseudo-element */
  background-color: transparent; /* Green */
  border: none;
  padding: 15px 52px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 14px;
  letter-spacing: 1.5px;
  cursor: pointer;
  transition: background-color 1s ease; /* added 's' after 0.8 for seconds */
  color: white;
  border: 1px solid white;
}

.button-secondary:hover {
  padding: 14px 52px;
}

.button-secondary::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -65px; /* Adjusted left position */
  width: 100px; /* Adjusted width to fill the container */
  height: 1px !important;
  transform: scaleY(1.1);
  background: gray;
  pointer-events: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.button-view1::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -65px; /* Adjusted left position */
  width: 110px; /* Adjusted width to fill the container */
  height: 1px !important;
  transform: scaleY(1.1);
  background: gray;
  pointer-events: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.displayy-teamimg-center .info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 95%;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  opacity: 1;
  visibility: visible;
}
.displayy-teamimg-center .show-info {
  position: absolute;
  bottom: 20px;
  left: 0px;
  width: 100%;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  opacity: 1;
  visibility: visible;
}

.displayy-teamimg-center .show-info {
  opacity: 0;
  visibility: hidden;
}

.displayy-teamimg-center:hover .info {
  opacity: 0;
  visibility: hidden;
}

.displayy-teamimg-center:hover .show-info {
  opacity: 1;
  visibility: visible;
}

.button-view1:hover {
  border: 1px solid black;
  background-color: transparent !important;
  transition: background-color 1s ease; /* added 's' after 0.8 for seconds */
  color: black;
}

.button-view-line-right {
  position: relative; /* Adding relative positioning for absolute positioning of pseudo-element */
  background-color: #000; /* Green */
  border: none;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 15px 52px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 14px;
  letter-spacing: 1.5px;
  cursor: pointer;
  width: 250px;
  height: 75px;
}
.button-view-line-right::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -65px; /* Adjusted left position */
  width: 100px; /* Adjusted width to fill the container */
  height: 1px !important;
  transform: scaleY(1.1);
  background: gray;
  pointer-events: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.button-view-line-right:hover {
  border: 1px solid black;
  background-color: transparent !important;
  transition: background-color 1s ease; /* added 's' after 0.8 for seconds */
  color: black;
}
.heading-florida-lux-listing {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: -1%;
  font-weight: 200;
  padding-top: 98px;
}
.florida-heading-feature-negibour {
  text-align: center;
  text-transform: uppercase;
  font-weight: 100 !important;
  font-size: 40px;
  line-height: 39px;
  letter-spacing: 1px;
}
.cover_rectagle {
  position: relative;
}
.cover_rectagle::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 170px;
  background-color: #1c1c1c;
  z-index: 9898;
}
.ant-drawer-header {
  display: none !important;
}
.ant-drawer-mask {
  outline: none !important; /* Remove outline */
}

.ant-drawer-wrapper-open {
  outline: none !important; /* Remove outline */
}
:where(.css-dev-only-do-not-override-1kuana8).ant-pagination
  .ant-pagination-item-active {
  border-color: black !important;
}

.ant-drawer-mask:focus,
.ant-drawer-mask:active {
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2); /* Example box-shadow */
}

.ant-drawer-wrapper-open:focus,
.ant-drawer-wrapper-open:active {
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2); /* Example box-shadow */
}

.flip-container {
  /* perspective: 1000px; */
  min-height: 300px;
}

.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 100%;
}

.flipper {
  transition: transform 1.5s;
  transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
}

.back {

  transform: rotateY(180deg);
  background: #000;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.additional-info {
  text-align: center;
}

/* Additional styling for the name and designation */
.additional-info h2 {
  font-size: 24px;
}

.additional-info p {
  font-size: 18px;
}

.img-op1 {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transform: scaleX(-1);
  -webkit-transition: all 0.8s linear;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}

.back2 {
  transform: rotateY(180deg);
  backface-visibility: hidden;
  color: rgb(226, 232, 240);
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: rgb(0 0 0 / 0.8);
  width: 100%;
  height: 100%;
  inset: 0px;
  position: absolute;
}

/* Footer Styling*/

.bg-footer {
  background-image: url("./assets/footer.jpg");
  background-size: cover;
  background-position: center;

  background-repeat: no-repeat;
  -webkit-filter: grayscale(1);
  opacity: 0.9;
}
.footer-bg-img-shadow {
  position: relative;
  padding: 60px 30px 30px 30px;
}
.footer-form-display {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.btn-sub-footer {
  background-color: #000;
  color: white;
  text-transform: uppercase;
  border-radius: 0px;
  border: none;
  font-weight: bold;
  letter-spacing: 0%;
  line-height: 18px;
  height: 32px;
}
.btn-sub-footer:hover {
  background-color: transparent !important;
  color: black !important;
  border: 1px solid black !important;
}
.ant-dropdown-menu-item {
  padding: 0px !important;
}
.overlay-item {
  border-bottom: 1px solid white;
}
.ant-dropdown-menu-title-content {
  padding: 10px;
  color: #fff;
  border-radius: 0px;
}
.ant-dropdown-menu-item-only-child {
  border-radius: 0px !important;
  border-bottom: 1px solid white !important;
  text-align: center;
  text-transform: uppercase;
}
.ant-dropdown-menu-item-only-child:last-child {
  border-radius: 0px !important;
  border-bottom: none !important;
}

.background-video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  height: 100%;
}

.slider-image {
  width: 100%; /* Ensures the image takes the full width of its container */
  height: auto; /* Maintains the aspect ratio of the image */
  max-height: 300px; /* Set the maximum height as per your requirement */
}
.team-view-btn {
  position: relative; /* Adding relative positioning for absolute positioning of pseudo-element */
  background-color: #000; /* Green */
  border: none;
  color: white;
  padding: 15px 52px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 14px;
  letter-spacing: 1.5px;
  cursor: pointer;
}
.let-talk-btn {
  position: relative; /* Adding relative positioning for absolute positioning of pseudo-element */
  background-color: white; /* Green */
  border: none;
  color: black;
  padding: 12px 52px;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 14px;
  letter-spacing: 1.5px;
  cursor: pointer;
  width: 250px;
  height: 75px;
}
.let-talk-btn:hover {
  background-color: transparent !important;
  border-radius: 0px;
  text-transform: uppercase;
  color: white !important;
  border: 1.5px solid white !important;
  transition: background-color 1s ease;
  padding: 12px 52px;
}
.let-talk-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -65px; /* Adjusted left position */
  width: 100px; /* Adjusted width to fill the container */
  height: 1px !important;
  transform: scaleY(1.1);
  background: gray;
  pointer-events: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.gutter-row {
  padding-right: 20px;
}
/* Cards style*/

.card-feature {
  border-radius: 0px;
  margin-top: -90px;
}
.global{
 marginLeft: 50 
}
 .detail-container{
  display: none;
}
/* Media Queries */

@media screen and (max-width: 1024px) {
  .flex-hidden {
    display: none !important;
  }
  .text-1024 {
    font-size: 9px;
  }
  .communities-grid{
    width: 22rem !important;
  }
 
}

@media screen and (max-width: 768px) {
  
  .our-story-bg {
    margin-right: 0px !important;
  }
  .search-button{
    display: none !important;
  }
  .bg-img-logo {
    background-size: cover !important;
  }
  .cover_rectagle::before {
    content: none;
  }
  body .title-home-page {
    font-size: 34px !important;
  }
  .text-paragraph {
    font-size: 14px !important;
  }

  .contact-us-card-margin {
    margin-left: 0px !important;
  }
  .d-flex-story {
    display: block;
    padding-left: 0px !important;
  }
  .info {
    padding: 10px;
  }
  .info-text {
    font-size: 12px;
  }
  .button-view,
  .button-view1 {
    padding: 8px 16px;
  }
  .ant-input-search {
    width: 90%;
  }
.search-input {
    width: 60ch;
  }

   body .title-home-page {
    font-size: 26px !important;
  }
.set {
        
        margin-top: 83em;
    }
    .ourstory{
      overflow: hidden;
    }
   .story-title {
    color: #000;
    font-weight: bold;
    font-size: 39px !important;
    letter-spacing: 2px;
    line-height: 0.9;
}
.our-title {
    color: #838383;
    font-weight: 100;
    font-size: 43px !important;
    letter-spacing: 2px;
    line-height: 22.5px;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: 1rem;
    padding: 2rem;
    overflow: hidden;
}
.search-input {
    width: 40ch;
  }

  .slick-arrow {
    display: none !important;
  }
.info {
    padding: 8px;
  }
  .info-text {
    font-size: 10px;
  }
  .button-view,
  .button-view1 {
    padding: 5px 10px;
  }.property-card {
    flex-direction: column;
  }
  .ant-input-search {
    width: 100%;
  }
  .contact-us-content {
    background-color: #fff;
    padding: 0rem 1rem 0rem !important;
    margin: 0.8rem !important;
}


  body .contact-us-title {
    font-size: 25px !important;
    line-height: 60px !important;
    font-weight: 600 !important;
    letter-spacing: -3px !important;
    color: #1b1b1b !important;
    margin: 0 !important;
    text-align: right;
}
body .contact-us-sub {
    color: #838383;
    font-size: 45px;
    margin-top: -20px;
}
.globalcontainer{
  overflow: hidden;
}
.f-24 {
    font-size: 18px !important;
    margin-right: 2rem;
}

body .p-5{
  padding:1rem !important;
}
 
.single_property{
  overflow: hidden;
}
.card-feature {
    border-radius: 0px;
    margin-top: -32px;
}
.f-32 {
    font-size: 25px !important;
}
 .button-secondary-line-left{
      margin-left: 33px;
 }
 .agent-description{
      font-size: 21px !important;
 }
  body .agent-first-name{
      font-size: 58px !important;
 }
body  .agent-last-name{
      font-size: 40px !important;
    margin-left: 97px;
 }
 .agent-estate{    margin-left: 25px;}
 
.heading-florida-lux-listing {
font-size: 31px  !important;
    padding-top: 60px;
}
.Downarrow{
  display: none !important;
}
.f-64{
  font-size: 48px !important;
}
.f-40 {
    font-size: 25px !important;
}
.my-5{
  margin-right: 3rem !important;
}
.hideetails{
  display: none !important;
}
.properties-single-slideshow-info{ display: none !important;}
 .detail-container{
  display:block !important;;
}
.pt-5 {
    padding-top: 3rem !important;
    padding-left: 3rem;
}
.f-30{
  font-size: 22px !important;
}
.f-50 {
    font-size: 30px !important;
}
.florida-heading-feature-negibour {
  font-size: 30px !important;
}
.detail-property .ant-input {
  width: 317px !important;
}
  /*.ant-row {
    display: flex;
    flex-flow: column;
    min-width: 0;
  }
  .ant-col-6 {
    max-width: 100% !important;
  }
  .ant-flex {
    display: flex;
  
    align-content: center;
    justify-content: center;
  }
  .ant-typography.aos-init.aos-animate {
    width: 100% !important;
  }
  .footer-bg-img-shadow {
    padding: 20px;
  }
    .ant-row-middle {
        width: 80%;
    }
  
.w-100 {
    width: 82% !important;
    overflow: hidden;
}
.rec-slide {
  position: relative; 
  height: 250px;
  width: 98%;
  overflow: hidden; 
}
.f-24{
  font-size: 24px !important;

}
 /* .text-paragraph {
    font-size: 12px !important;
  }

  .ant-flex {
    display: flex;
  }
  .ant-input-group-wrapper.ant-input-group-wrapper-lg.ant-input-group-wrapper-outlined.ant-input-search.ant-input-search-large.ant-input-search-with-button {
    width: 90% !important;
    margin: 0 auto;
  }
  .f-64 {
    font-size: 37px !important;
  }
  .features_section_slider .slick-track {
    display: flex;
    gap: unset;
  }
  h1.ant-typography, 
  div.ant-typography-h1, 
  div.ant-typography-h1 > textarea, 
  .ant-typography h1 {
    font-size: 25px !important;
  }
  .p-5 {
    padding: 1rem !important;
  }
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 247px !important;
  }
  .bg-img-logo {
    padding: 0 !important;
  }
  .heading-florida-lux-listing {
    font-size: 24px !important;
  }*/
.f-16 {
    font-size: 13px !important;
    margin-left: 38px;
}
.ant-form-item-control-input{
  width:19rem !important;
}
}
.text-1024 {
        font-size: 11px;
    }

.agent-first-name{
  font-size: 70px !important;
  
}
.agent-last-name {
    color: black;
    font-weight: 100;
    font-size: 72px !important;
    letter-spacing: -4%;
    line-height: 0.8;
}
.detail-property .ant-input::placeholder {
  color: #838383;
  font-size: 16px;
  font-weight: 100;
}

.detail-property .ant-input {
  border-top: 0px;
  border-left: 0px;
  border-radius: 0px;
  border-right: 0px;
  padding: 4px 4px;
  background-color: transparent;
  color: white;
}
.detail-property .ant-input:hover {
  border-color: white !important;
  border-bottom: 1px solid white;
  background-color: transparent;
}

.ant-checkbox-inner {
  border-radius: 0 !important; /* Remove border radius */
  border: 1px solid #ffffff !important; /* White border */
  background-color: transparent !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #ffffff; /* White background when checked */
  border-color: #ffffff; /* White border when checked */
}

.ant-checkbox-checked .ant-checkbox-inner::after {
  border-color: #ffffff; /* White tick color when checked */
}

.button-secondary-line-left {
  position: relative; /* Adding relative positioning for absolute positioning of pseudo-element */
  background-color: white; /* Green */
  border: none;
  color: black;
  padding: 15px 52px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 14px;
  letter-spacing: 1.5px;
  cursor: pointer;
}
.button-secondary-line-left:hover {
  position: relative; /* Adding relative positioning for absolute positioning of pseudo-element */
  background-color: transparent; /* Green */
  border: none;
  padding: 15px 52px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 14px;
  letter-spacing: 1.5px;
  cursor: pointer;
  transition: background-color 1s ease; /* added 's' after 0.8 for seconds */
  color: white;
  border: 1px solid white;
}

.button-secondary-line-left:hover {
  padding: 14px 52px;
}

.button-secondary-line-left::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -65px; /* Adjusted left position */
  width: 100px; /* Adjusted width to fill the container */
  height: 1px !important;
  transform: scaleY(1.1);
  background: gray;
  pointer-events: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.bg-gif-block {
  background-image: url("./assets/blocks.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
..button-view {
  padding:9px !important;
}
/* Property Deatil */

.properties-single-slideshow-info {
  position: absolute;
  z-index: 4;
  top: 30%;
  background: black;
  max-width: 550px;
  padding: 0 15px 0 65px;
  overflow-y: hidden;
}

.show {
  display: block;
  position: absolute;
  width: 100%;
  transform: translateY(-50%) rotate(-90deg);
  left: -44%;
  top: 50%;
  right: 0;
  padding: 10px;
  font-size: 24px;
  transform-origin: center;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border-bottom: 1px solid rgba(27, 27, 27, 1);
  background-color: white;
}
.show:hover {
  color: white !important;
  background-color: black;
}

.single-listing .properties-single-slideshow-info span.show-hide-btn:hover {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(27, 27, 27, 1);
}

.properties-single-slideshow-info-address {
  font-size: 41px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: -1.025px;
  text-transform: uppercase;
  color: white;
  margin-top: 1px;
  margin-left: -1px;
}

.properties-single-slideshow-info-address span {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0;
  color: #666666;
  margin-top: 3px;
  margin-left: 1px;
}

.properties-single-slideshow-info-price {
  display: block;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 43px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 2.2px;
  text-transform: lowercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #e51937;
  margin-top: 12px;
}

.properties-single-slideshow-info-price.dual {
  display: block;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 44px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.8px;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #e51937;
  margin-top: 12px;
}

.properties-single-slideshow-info-extras {
  display: block;
  margin: 24px 0 40px !important;
}

.properties-single-slideshow-info-extras li {
  display: block;
  font-size: 18px;
  font-weight: 300;
  line-height: 18px;
  color: #292929;
  margin-bottom: 11px;
}

.properties-single-slideshow-info-extras li:nth-last-child(1) {
  margin-bottom: 0;
}

.properties-single-slideshow-info-extras li [class^="icon-"] {
  display: inline-block;
  vertical-align: baseline;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  margin: 0 2px 0 4px;
}

.properties-single-slideshow-info-extras li .icon-beds {
  width: 19px;
  height: 13px;
  background-image: url("images/properties-single-beds.png");
}

.properties-single-slideshow-info-extras li .icon-baths {
  width: 16px;
  height: 16px;
  background-image: url("images/properties-single-baths.png");
}

.properties-single-slideshow-info-extras li .icon-sqft {
  width: 15px;
  height: 15px;
  background-image: url("images/properties-single-sqft.png");
}

.properties-single-slideshow-info-extras li .icon-lots {
  width: 16px;
  height: 16px;
  background-image: url("images/properties-single-lots.png");
}

.properties-single-slideshow-info-extras li .icon-mls {
  width: 16px;
  height: 16px;
  background-image: url("images/properties-single-mls.png");
}

.properties-single-slideshow-info-extras li em {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  color: #666666;
  line-height: 12px;
}

/*End*/

/*Team Banner*/

.team-banner {
  position: relative;
  height:450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-image: url("./assets/aBOUT.jpg");
}
.team-banner-shadow {
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* background Component */

.bg-img {
  position: relative;
  height: 537px;
  background-repeat: no-repeat;
  background-size: cover;
      background-position: center;
}
.bg-img-shadow {
  background: rgba(0, 0, 0, 0.1);
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Card style*/

.flip-card {
  background-color: transparent;
  min-height: 400px;
  perspective: 1000px;
}
.flip-card.back-flip .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card.back-flip .flag {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
}
.flip-card:hover .action-btns {
  height: 30px;
}
.flip-card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flip-card .flip-card-inner .flip-card-front,
.flip-card .flip-card-inner .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card .flip-card-inner .flip-card-front {
  color: black;
}
.flip-card .flip-card-inner .flip-card-back {
  color: white;
  transform: rotateY(180deg);
}
/* END */

/* Contact us */

.contact-us-banner {
  background-image: url("./assets/Contact_banner.jpg");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 500px;
  opacity: 0.9;
}

.contact-us-form-bg {
  background-image: url("./assets/contact_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.contact-us-shadow-gray {
  background-color: rgb(129, 135, 137, 0.6);
}
.contact-us-content {
  background-color: #fff;
  padding: 3rem 8rem;
}

.contact-us-title {
  font-size: 90px !important;
  line-height: 110px !important;
  font-weight: 600 !important;
  letter-spacing: -2.75px !important;
  color: #1b1b1b !important;
  margin: 0 !important;
  text-align: right;
}
.contact-us-sub {
  color: #838383;
  font-size: 100px;
  margin-top: -20px;
}
.site-section-title {
  text-transform: uppercase;
  display: block;
}
.site-section-title span {
  position: relative;
  display: inline-block;
  text-align: right;
}
.title-line {
  width: 195%;
  left: -185% !important;
  height: 5px;
  bottom: auto;
  top: 13%;
  background: #b0b0b0 !important;
  position: absolute;
}
.contact-us-form .ant-input-outlined {
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 1px solid #838383;
  border-radius: 0px;
}

.contact-us-card-margin {
  margin-left: -50px;
}

/* Drawer css */

.drawer-option {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5rem;
}
.ant-spin-dot-item {
  color: black;
}

/* our Story */

.our-title {
  color: #838383;
  font-weight: 100;
  font-size: 50px;
  letter-spacing: 2px;
  line-height: 22.5px;
}
.story-title {
  color: #000;
  font-weight: bold;
  font-size: 76px;
  letter-spacing: 2px;
  line-height: 0.9;
}
.title-line-story {
  width: 195%;
  left: -182% !important;
  height: 5px;
  bottom: auto;
  top: 9.5%;
  background: #b0b0b0 !important;
  position: absolute;
}

.story-bg {
  background-image: url("./assets/ourstory.png");
  background-size: cover;
  background-repeat: no-repeat;
}
/* our Story End*/

/* Agent Profile */

.title-line-agent {
  width: 195%;
  right: -185% !important ;
  height: 5px;
  bottom: auto;
  top: 12%;
  background: #b0b0b0 !important;
  position: absolute;
}

.bg-social-media {
  background-color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.about-agent {
  color: #838383;
  font-weight: 100;
  font-size: 30px;
  letter-spacing: -5%;
  line-height: 42px;
}
.agent-first-name {
  color: black;
  font-weight: bold;
  font-size: 90px;
  letter-spacing: -4%;
  line-height: 1.2;
}
.agent-last-name {
  color: black;
  font-weight: 100;
  font-size: 90px;
  letter-spacing: -4%;
  line-height: 0.8;
}
.agent-estate {
  color: #838383;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: -5%;
  line-height: 1.2;
  display: flex;
  width: 100%;
  justify-content: end;
}
.agent-description {
  color: black;
  font-weight: 100;
  font-size: 24px;
  letter-spacing: -5%;
  line-height: 1.4;
  text-align: justify;
}
.agent-info-bg {
  background-image: url("./assets/agentcontact.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  position: relative;
}
.agent-info-bg-shadow {
  background: linear-gradient(
    90deg,
    rgba(28, 28, 28, 0) 0%,
    rgba(28, 28, 28, 0.850577731092437) 46%,
    rgba(129, 129, 129, 0.9290091036414566) 100%
  );
  height: 100%;
  position: relative;
}
/* Agent Profile End*/
.displayy-teamimg-center:hover .more-info-property {
  height: 100% !important;
  position: absolute;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: block !important;
}
.more-info-property {
  display: none;
}
.displayy-teamimg-center:hover .for-sale-more {
  display: none;
}
.for-sale-properites {
  height: 50px;
  width: 45%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-table .ant-table-thead > tr > th {
  background-color: #d4cfc9; /* Change this to your desired color */
  color: black; /* Change this to your desired text color */
}

.custom-table .ant-table {
  border: none;
}

.custom-table .ant-table-container {
  border: none;
}

.custom-table .ant-table-content {
  border: none;
}

.custom-table .ant-table-thead > tr > th {
  border-bottom: none;
}

.custom-table .ant-table-tbody > tr > td {
  border-bottom: none;
}

.custom-table .ant-table-tbody > tr > td::before {
  display: none;
}
.ant-table-cell::before {
  content: none !important;
}
.ant-table-cell {
}
.box-shadow-table {
  box-shadow: 0px 0px 15px 0px #00000012;
}

/*MLS Style*/

.mls-body {
  background-color: #000;
}
.custom-slider .ant-slider-track {
  background-color: black !important;
  top: 5px;
  height: 8px;
  left: 2px !important;
  border-radius: 10px;
}

.custom-slider .ant-slider-handle {
  border-color: #838383 !important;
  background-color: #838383 !important;
}

.custom-slider .ant-slider-rail {
  background-color: white !important;
  height: 10px;
  border-radius: 10px;
}

.custom-slider .ant-slider-handle {
  top: 5px;
  width: 24px !important; /* Adjust width */
  height: 24px !important; /* Adjust height */
  margin-top: -10px;
  border-radius: 20px;
}
.custom-slider .ant-slider-handle::after {
  background-color: #838383;
  box-shadow: none;
  content: none;
}
.custom-slider .ant-slider-handle::before {
  background-color: #838383;
  box-shadow: none;
  content: none;
}

.custom-dropdown .ant-space {
  justify-content: space-between;
  width: 100%;
  color: #838383;
  text-transform: uppercase;
  font-size: 20px;
  border-bottom: 1px solid white;
}

.rec-slide .slick-track {
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-btn-community-home .button-view1 {
  display: none;
}

.show-btn-community-home:hover .button-view1 {
  display: block !important;
}
.communities-grid {
  position: relative;
  min-height: 240px;

  height: 280px;
}
.ant-input-group-addon .ant-btn {
  background-color: #000;
}
.ant-input-group-addon .ant-btn:hover {
  background-color: #000 !important;
}
.ant-input-outlined:focus {
  border-color: transparent !important;
}
.search-button {
  /* position: relative; */
  background-color: black;
  border: none;
  color: white;
  padding: 15px 52px;
  text-align: center;
  text-decoration: none;
  display: flex !important;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 14px;
  letter-spacing: 1.5px;
  cursor: pointer;
  width: 151px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -65px; /* Adjusted left position */
  width: 100px; /* Adjusted width to fill the container */
  height: 1px !important;
  transform: scaleY(1.1);
  background: gray;
  pointer-events: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/*allcommuntites*/
/* Ensure background image covers the whole section */
.background-image {
  background-size: cover;
  background-position: center;
}

/* Style for the community overlay */
.community-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.5); /* Optional: Adds a background to text */
  padding: 10px;
}

/* Style for the slider container */
.slider-container {
  width: 100%;
  margin-top: 40px;
}

/* Style for the slider overlay */
.slider-overlay {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 100%;
}

/* Make the 'See All Neighborhoods' button responsive */


.note-modal-backdrop {
  z-index: 0;
}