body {
  height: 100vh;
  margin: 0px;
}
* {
  font-family: "News Gothic MT", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
}

.flex-between {
  display: flex;
  width: 98%;
  justify-content: space-between;
  align-items: center;
}

.hero-bg-img {
  background-image: url("./assets/background-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 750px;
  position: relative;
}
.hero-bg-img-shadow {
  background: rgba(0, 0, 0, 0.6);
  height: 750px;
  position: relative;
}

#navbar_main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 20px;
  z-index: 99;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

#navbar_main.sticky {
  padding: 10px 20px;
  background-color: #000;
}

#navbar_main a {
  color: #fff;
  font-size: 14px;
  padding: 4px 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.text-paragraph {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  line-height: 21.6px;
}
#navbar_main a:not(:last-child) {
  border-right: 1px solid #fff;
}
.title-home-page {
  color: #fff !important;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 50px !important;
  text-align: center;
  margin-top: 0.9rem !important;
}
.bg-img-logo {
  background-image: url("./assets/bg2.png");
  height: 1200px;
  background-size: cover;
  background-repeat: no-repeat;
  position: sticky;
  z-index: -1;
}
.circle-bg-white {
  background: rgb(255, 255, 255);
  width: 40px;
  border-radius: 30px;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 10px;
}

.circle-bg-white:hover {
  background: transparent;
  border: 1px solid white;
  width: 40px;
  border-radius: 30px;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: background 0.5s;
}
.fill-change {
  fill: #1c1c1c;
}
.fill-change:hover {
  fill: white !important;
}

.circles-container {
  position: fixed;
  right: 20px; /* Adjust the value based on your design */
  top: 50%;
  transform: translateY(-50%);
}

.line-between::before {
  content: "";
  position: absolute;
  width: 2px; /* Adjust the width of the line */
  height: 40%;
  background-color: #fff; /* Adjust the color of the line */
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.slick-slider {
  width: 100%;
}
.hamburger-icon {
  cursor: pointer;
  transition: transform 0.3s ease-in-out; /* Add transition effect */
}

.hamburger-icon:hover {
  transform: scale(0.7); /* Add hover animation */
}
.nav-ho:hover {
  border-bottom: 1px solid #fff;
}
